#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
  text-align: left;
}

img {
  width: 600px;
}

h1 {
  color: pink;
  font-size: 400px;
}