body {
  font-size: 24px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

a {
  margin: 0 10px;
}

a.current {
  color: red;
  font-weight: 900;
}

.nav {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}